<div class="col-md-8">
	<%= simple_form_for @menu_item, url: '/menu'  do |f| %>
		<%= f.input :name, label: "Menu Item Name*", :input_html => { data: {req: '1'}} %>
		<%= f.input :description, label: "Description*", as: :text, :input_html => { data: {req: '1'}} %>
		<%= f.input :price, label: "Price*", :input_html => { data: {req: '1'}} %>				
		<%= f.input :is_build_your_own, label: "Build Your Own",  :input_html => {:id => "build_your_own"} %>
	
		<div id = "build_your_own_content">
			<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Plate Options
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<div class="form-inline">
						<input type="hidden" name="menu_group_num[]" value="0"/>
						<b>Name*</b>
						<input data-req="1" name="group_name_0" class="string optional form-control" type="text"/>
						<b>Price*</b>
						<input data-req="1" name="additional_price_0" class="string optional form-control" type="text"/>
						<b>Maximum Allowed*</b>
						<input data-req="1" name="max_allowed_0" class="string optional form-control" type="text"/>
					</div>
					<br/>
					<b>Menu Item Content</b>
					<input data-req="1" name="menuitemcontent0[]" placeholder="Name" type="text" class="string optional form-control"/>
					<span id="add-new-row0"></span>
					<br/>
					<a class="btn" onclick="addContentRow(0)">+ Add Choice</a>
			      </div>
			    </div>
		  </div>
		  <div id="add-new-option"></div>
				
		 <a class="btn" onclick="addGroupRow()">+ Add Option</a>
		</div>
		
		<br/>
		<%= f.button :submit ,  "Submit", class: "btn btn-primary" %>
	<% end %>
	
</div>


<script>
	var num_groups = 1;
	
	$("#new_menu_item").submit(function (event) {
		if (!validateFormInputs("new_menu_item")){
			event.preventDefault();
		}
	});
</script>
<%= javascript_include_tag 'menujs' %>
